/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    opacity: 0.8;
}

.ah-container {
    opacity: 1;
}

p {
    margin: 0;
}


.ah-container {
    width: 80%;
    height: 700px;
    margin: -75px auto 0;
    background-color: white;
}

.bg-success {
    height: 100px;
}

/* Class Chat */

.chats {
    width: 35%;
    height: 100%;
}

.user {
    height: 50px;
    background-color: #eaeaea;
    padding: 7px 20px 7px 7px;
}

.user img {
    transition: opacity 0.5s;
}

.user img:hover {
    opacity: 0.7;
}

.notification {
    background-color: #8edafc;
    height: 70px;
}

.notification i {
    color: #8edafc;
}

.search {
    background-color: #eaeaea;
    height: 40px;
    border: none;
}

.chat-friends {
    overflow-y: auto;
    height: calc(100% - 160px);
}

::-webkit-scrollbar {
    width: 3px;
}

:hover::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #8b8b8b;
}

.friend {
    height: 75px;
    cursor: pointer;
}

.friend:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* class message */
.message {
    width: 65%;
    height: 100%;
    background-image: url('../img/mine.jpg');
}

.fa-arrow-left {
    display: none;
}

.write-message {
    height: 60px;
    background-color: #f3eeea;
}

.write-message i {
    font-size: 1.5rem;
    color: #717777;
}

.message-area {
    height: calc(100% - 110px);
    overflow-y: auto;
    width: 100%;
}

img {
    height: 100%;
    border-radius: 50%;
}

i {
    color: #b1b1b1;
    cursor: pointer;
    transition: opacity 0.5s, background-color 0.5s;
    padding: 10px;
    border-radius: 10px;
}

.user i:hover,
.write-message i:hover {
    background-color: white;
}


.ah-small {
    font-size: 0.65rem;
}

.sent {
    background-color: #d8fbd2;
    width: fit-content;
    margin-left: auto;
    
}

.received {
    background-color: #fdfdfd;
    width: fit-content;
}

/* meda query */

@media (max-width: 1055px) {
    .small {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .chats {
        width: 100%;
    }

    .message {
        width: 100%;
        display: none;
    }

    .fa-arrow-left {
        display: block;
    }
}